.container {
    padding: 5%;
    height: 100vh; /* Adjust as needed */
    width: 100vh
}

.form{
    position: absolute;
    left: 70vh
}

.reset {
    background: #fe0944;
    color: white
}

.submit {
    background: #06a74e;
    color: white
}
