

<div class="container">


  <form class="form" [formGroup] = "form">

    <h1>Calcul Score INSAT 1ére année</h1>

    <mat-form-field>
      <input matInput placeholder="Age" formControlName="birthYear" type="number"/>
    </mat-form-field><br/>

    <mat-form-field>
      <input matInput placeholder="Moyenne Bac" formControlName="bac" type="number"/>
    </mat-form-field>

    <h3>1ére année</h3>

    <mat-form-field>
      <input matInput placeholder="Moyenne 1ére" formControlName="grade1" type="number"/>
    </mat-form-field>&nbsp;

    <mat-form-field>
      <input matInput placeholder="Rang 1ére" formControlName="rank1" type="number"/>
    </mat-form-field>&nbsp;

    <mat-form-field>
      <input matInput placeholder="Effectif 1ére" formControlName="batch1" type="number"/>
    </mat-form-field>&nbsp;

    <h3>2éme année</h3>


    <mat-form-field>
      <input matInput placeholder="Moyenne 2éme" formControlName="grade2" type="number"/>
    </mat-form-field>&nbsp;

    <mat-form-field>
      <input matInput placeholder="Rang 2éme" formControlName="rank2" type="number"/>
    </mat-form-field>&nbsp;

    <mat-form-field>
      <input matInput placeholder="Effectif 2éme" formControlName="batch2" type="number"/>
    </mat-form-field>&nbsp;


    <h3>3éme année</h3>

    <mat-form-field>
      <input matInput placeholder="Moyenne 3éme (Semestre 1)" formControlName="grade3" type="number"/>
    </mat-form-field>&nbsp;

    <mat-form-field>
      <input matInput placeholder="Rang 3éme" formControlName="rank3" type="number"/>
    </mat-form-field>&nbsp;

    <mat-form-field>
      <input matInput placeholder="Effectif 3éme" formControlName="batch3" type="number"/>
    </mat-form-field><br/>


    <button mat-button class="submit" type="button" [disabled] = "form.invalid" (click)="submit()">Calculer Score</button> &nbsp;
    <button mat-button class="reset" type="button" (click) = "reset()">Réinitialiser</button>

  
  </form>

</div>
<router-outlet></router-outlet>
